@mixin resolution {
    @media only screen and (min-width: 1024px) {
        .container {
            width: 60%;
            margin: 0 auto;
        }
        .red {
            width: 33.33%;
        }
        .green {
            width: 33.33%;
        }
        .blue {
            width: 33.33%;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .red {
            width: 100%;
        }
        .green {
            width: 50%;
        }
        .blue {
            width: 50%;
        }
    }
}

@mixin text {
    p,
    pre {
        color: white;
    }
    h2 {
        text-align: center;
    }
    .header {
        text-align: center;
    }
}