    @import "_mixins";
    .container {
        border: 2px solid black;
        @include text;
        .red,
        .green,
        .blue {
            float: left;
            height: 100%;
            padding: 20px;
            box-sizing: border-box;
            border: 5px solid white;
        }
        .red {
            background-color: red;
        }
        .green {
            background-color: green;
        }
        .blue {
            background-color: blue;
        }
    }
    
    .clearfix {
        overflow: auto;
    }
    
    @include resolution;